.square {
    position: relative;
    width:  100px;
    height:  100px;
    background-color: darkgray;
}

.relative-box {
    position: relative;
    background-color: navy;
    top: 10px;
    left: 20px;
}

.apsolute-box {
    position: absolute;
    background-color: chocolate;
    top: 30px;
    left: 30px;
}

.fixed {
    position: fixed;
    background-color:coral;
    bottom: 0px;
    left: 0px;
    grid-row-end: 20px;
}

.z-index-1 {
    background-color: brown;
    top: 300px;
    left: 300px;
    z-index: 4;
}
.z-index-2 {
    background-color: gold;
    top: 350px;
    left: 350px;
    z-index: 5;
}
.z-index-3 {
    background-color:skyblue;
    top: 400px;
    left: 400px;
    z-index: 3;
}

/* statix - 기본값 */

/* relative 현재 위치에서 상하좌우 상대적으로 움직이 수있게 된다 */
/*   position 적용 전(static일떄) 기준으로 움직임, 움직인 후 원래 있었던공간이 유지됨 */

/* absolute */
/* 기본 레이어 관계에서 벗어난다.(집나간 자식. 붕 뜬다.) */
/* 다른 도형들도  새로운 자리로 움직이게 된다 */
/* 움직인 후 원래 있었던 공간이 사라진다 */
/* 부모 영역을 벗어나 자유롭게 어디든 위치할 수 있다. */
/* 부모에 static 이외에 position 프로퍼티가 지정되어 있을경우에만 부모를 기준으로 위치하게 된다
만약 부모, 조상이 모두 static이면 document body를 기준으로 위치하게 된다 */

/* fixed */
/* 앱솔루트와 동일하게 움직이지만 스크롤이 생길때 움직이지 않고 고정되어 있다. */
/* 팁 : 부모에게 position: relative를 줘서 자신이 absolute를 받을때 기준점을 부모로 인식하도록 하는것이편하다 */