{% extends 'movies/base.html' %}
{% block title %}DETAIL {% endblock %}
{% block body %}                                         <!--여기로 넘긴 변수는 movie(영화모든정보), score(점수?), genre(장르이름)-->
    <h1>영화정보 조회</h1>
    <h2>{{ movie.title }}</h2>                      
    <h2>종합평점:{{ movie.score_avg }}</h2>
    <h3>{{ movie.audience }}</h3>
    <img src="{{ movie.poster_url }}"></img><br>    <!-- DB에 있던 url의 이미지-->
    {{ movie.description }}
    <br>
    <br>
    <b>{{ genre.name }}</b>           <!-- 장르명-->
    <br>
    <a href="{% url 'movies:index' %}">[목록]</a> <!-- 누르면 인덱스로 이동, 'movies/index.html'과 같음..-->
    <a href="#">[수정]</a>
    
    <form action="{% url 'movies:delete' movie.pk %}" method="POST" style="display:inline" onsubmit="return confirm('R E A L L Y ? ');">
                                            <!-- 삭제할 버튼 정의, POST타입이라 바로 아래 csrf_token이 들어감! 누를때 영화의기본키가 필요함.-->
                                            <!-- display:inline은 한줄로 세우기 위한 코드, onsubmit은 삭제버튼누르면 확인하는 역할-->
                                            <!-- ######## 누르면 urls로 이동 ########-->
        {% csrf_token %}
        <input type="submit" value="삭제"/> <!-- 버튼의 이름은 value에서 정한다.-->
    </form>
    <hr>
    <p>관객평점 / {{ scores | length }} 개의 평점이 있습니다.</p> <!--views.py에서 넘긴 변수의 길이를 filter를 통해 총 몇개인지 count함  -->
    {% for score in scores %}
        <li>
            한줄평 : {{ score.content }} / {{ score.score }} <!-- score를 for문으로 돌려서 영화당 모든 댓글(평점)의content와 score를 나타낸다-->
            <form style="display:inline" action= '{% url 'movies:comments_delete' movie.pk score.pk %}' method='POST' onsubmit="return confirm('R E A L L Y ? ');">
                {% csrf_token %}
                <input type="submit" value="삭제"/> 
            </form>
        </li>
    {% empty %}                     <!--else문 정도로 생각하면 된다. -->
    <p><b>댓글이 없어요</b></p>    
    
    {% endfor %}
    <hr>
    <p> 평점등록</p>
    <form action= "{% url 'movies:comments_create' movie.pk %}" method="POST"> <!--평점을 등록할수 있는 form태그 -->
        {% csrf_token %}                        
        평점 : <input type="number" name="score">
        한줄평 : <input type="text" name="content">
        <input type="submit" value="Submit"/>
    </form>
    
{% endblock %}