{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":483,"scrollleft":0,"selection":{"start":{"row":105,"column":5},"end":{"row":105,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":23,"state":"start","mode":"ace/mode/text"}},"timestamp":1550193367163,"hash":"c7e946df64f1b2c8a79d7124a88addbebdc01c98"}