{% extends 'movies/base.html' %}
{% block title %} INDEX {% endblock %}
{% block body %}
    <h1>영화목록</h1><hr>
    <a href="{% url 'movies:create' %}">새 영화만들기</a><br>
    {% for movie in movies %}
        <img src="{{ movie.poster_url }}"></img>
        <a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a>
        {% if movie.score_avg %}
            <h2>종합평점 : {{ movie.score_avg|floatformat:1 }}</h2>
        {% else %}
            <h2> 종합평점 : 0</h2>
        {% endif %}
    {% endfor %}
    
{% endblock %}