<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NEW</title>
</head>
<body>
    <form action='/movies/create'>
        TITLE: <input type="text" name="title"/><br>
        TITLE_EN: <input type="text" name="title_en"/><br>
        AUDIENCE: <input type="number" name="audience"/><br>
        OPEN_DATE: <input type="date" name="open_date"/><br>
        GENRE: <input type="text" name="genre"/><br>
        WATCH_GRADE: <input type="text" name="watch_grade"/><br>
        SCORE: <input type="number" name="score"/><br>
        POSTER_URL: <input type="text" name="poster_url"/><br>
        DESCRIPTION: <textarea name="description"> </textarea><br>
        <input type="submit" value="Submit"/><br>
    </form>
</body>
</html>