<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {{ movies.title }}
    {{ movies.title_en }}
    {{ movies.audience }}
    {{ movies.open_date }}
    {{ movies.genre }}
    {{ movies.watch_grade }}
    {{ movies.score }}
    {{ movies.poster_url }}
    {{ movies.description }}

    <a href="/movies">목록</a>
    <a href="/movies/{{ movies.id }}/edit/">수정</a>
    <a href="/movies/{{ movies.id }}/delete/">삭제</a>
</body>
</html>