* { 
    color: rgb(255, 0, 0);
}
h1 {
    color: cornflowerblue;
}
.pink {
    color: deeppink;
}
#green {
    color: darkolivegreen;
}
h2 {
    color: black;
}

.blue {
    color: blue;
}
.bold {
    font-weight: bold
}