body {
    height: 10000px;
}
.square {
    width: 100px;
    height: 100px;
    background-color: darkgray;
}

.padding-10 {
    padding: 10px;
}

.border-box {
    box-sizing: border-box;
}

.margin-50 {
    /* 4개일때 = T R B L*/
    margin: 50px 50px 50px 50px;
    /* 3개 - T RL B */
    /* 2개 - TB RL */
}
.margin-top-100 {
    margin-top: 100px;
}
.margin-3 {
    margin: 10px 20px 30px;
}
.border {
    border: 1px black dashed;
    border-style:dashed;
    border-bottom-style: double;
    border-top-style: solid;
    border-left-style: inset;
    border-bottom-color: blue;
    margin-bottom: 5px;
}
.circle {
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 100px;
}
.prac {
    width: 200px;
    height: 200px;
    background-color: darkred;
    /* border-top-left-radius: 10%;
    border-top-right-radius: 90%;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 90%; */
    border-radius: 10% 75%;
    opacity: 0.5;
}