{% extends 'base.html' %}
{% load static %}
{% block title %}INDEX {% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'detail/stylesheets/style.css' %}" type="text/css" />
{% endblock %}
{% block body %}

    <header>
        <div class="header d-flex justify-content-center align-items-center" style="height:350px; width:100%;"><h1>HEADER</h1></div>
    </header>
    <div class="footer fixed-bottom bg-info d-flex justify-content-between px-4" style="height:50px;">
    
        <h1>SSAFY</h1>  
        <h1><a href="http://django-project-websvey1.c9users.io:8080/detail">TOP</a></h1>    
    </div>
{% endblock %}
