{% extends 'movies/base.html' %} <!--base.html을 상속받으면서 시작 -->
{% block title %}
<h1>INDEX</h1>
{% endblock %}

{% block body %}
    <h1>영화목록</h1>
    {% for movie in movies %}                                                   <!-- dict로 넘어온 context로 for문을 돌리는 것이 아니라 키값인 movies로 -->
        <img src="{{ movie.poster_url }}"></img>                                <!-- 일반적인 python문법, movie는 Movie의 기본키이고 내림차순 정렬이므로-->
        <h2>종합 평점 : {{ movie.score_avg }}</h2>
        <a href="{% url 'movies:detail' movie.pk %}">{{ movie.title }}</a><hr>  <!-- 높은 숫자부터 낮은숫자대로 영화 포스터 이미지와 영화제목이 출력된다-->
    {% endfor %}                                                                <!-- 영화제목을 클릭하면 detail로 이동하는데, url에 정의되어있어야함-->
                                                                                <!-- ### movie.pk에서 영화 기본키가 urls로 들어가면서 url로 이동 #### -->
{% endblock %}