<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .completed {
            text-decoration: line-through;
            opacity: 0.6;
        }
    </style>
</head>
<body>
    <div v-bind:style="{ color: activeColor, fontSize:fontSize + 'px' }"></div>
    <div id="app">
        <select v-model="status">
            <option value="all" selected>all</option>
            <option value="active">active</option>
            <option value="completed">completed</option>
        </select>

        <li v-for="todo in todosByStatus" v-bind:class="{completed: todo.completed }" v-bind:key="todo.id">
            <input type="checkbox" v-model='todo.completed'>
            <span>{{ todo.content }}</span>
        </li>
        <!-- <li v-else v-on:click="check(todo)">[완료!]    </li> -->
        <input type="text" v-model="newTodo" v-on:keyup.enter="addTodo">
        <!-- input에 넣은 값이 todos에 추가는 되지만, input이 초기화 되지는 않음(입력값이 남아있음) -->
        <!-- 아래 this.newTodo= '' 추가하면 해결 -->
        <button @click="addTodo">+</button>
        <footer>
            <button @click="clearCompleted">청소</button>
            <!-- <span>{{ reversedNewTodo }}</span> -->
        </footer>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const STORAGE_KEY = 'vue-todos'
        const todoStorage = {
            fetch: function (){
                return JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]')
            },
            save: function (todos) {
                localStorage.setItem(STORAGE_KEY, JSON.stringify(todos))
            }
        }
        const app = new Vue({
            el: '#app',
            data :{
                todos:todoStorage.fetch(),
                status:'all',
                activeColor:'red',
                fontSize: 30,
                todos :[
                    
                    // 이거랑 위에랑 뭔차이지??
                //     '점심메뉴고민', 
                //     '사다리타기',
                //     '야외수어밯기',
                //     '야자하기'
                ],
                newTodo:'',
                
            },
            methods: {
                check: function (todo){
                    todo.completed = !todo.completed
                },
                addTodo:function () {
                    this.todos.push({
                        id: Date.now(),
                        content: this.newTodo,
                        completed:false,
                    })            
                    this.newTodo = ''        
                },
                clearCompleted:function () {
                    const notCompletedTodos = this.todos.filter(todo => !todo.completed)
                                    // !todo.completed == 값이 false인것만 찾아서 todos에 넣어줌
                                    // 즉 , 값이 true인것 제거
                    this.todos = notCompletedTodos // 이부분이 실행되는 과정은?
                },
                
            },
            computed: {                
                todosByStatus: function () {
                    if (this.status === 'active') {
                        return this.todos.filter(todo => !todo.completed)
                    }
                    if (this.status === 'completed') {
                        return this.todos.filter(todo => todo.completed)
                    }
                    return this.todos
                },
                reversedNewTodo: function () {
                    return this.newTodo.split('').reverse().join('')
                },

            },
            watch: {
                todos: {
                    handler: function(todos){
                        todoStorage.save(todos)
                    },
                    deep:true,
                }
            }
        })
    </script>
</body>
</html>