{% extends 'base.html' %}
{% block body %}
<div class="recommand">
    {{ recommand }}
</div>
<h1>{{ profile_user }}'s Profile</h1>
<div class="info">
    <span>{{ profile_user}}님의 팔로워 : {{ profile_user.followers.count }} / {{ profile_user}}님이 받아보는 팔로잉 : {{ profile_user.followings.count }}</span>
    {% if user != profile_user %}
    <div>
        {% if user in profile_user.followers.all %}
            <a href="{% url 'accounts:follow' profile_user.pk %}">UnFollow</a>
        {% else %}
            <a href="{% url 'accounts:follow' profile_user.pk %}">Follow</a>
        {% endif %}
    </div>
    {% endif %}
</div>
<hr>
<h2>{{ profile_user }}님이 쓴 평점 목록</h2>
<div class="scores">
    {% for score in profile_user.score_set.all %}
    <div class="score">
        <h3><a href="{% url 'movies:detail' score.movie.id %}">{{ score.movie }}</a></h3>
        {{ score.value }}
        {{ score.content }}
    </div>
    {% empty %}
    <h3>No Comments</h3>
    {% endfor %}
</div>
{% endblock %}