{% extends 'base.html' %}
{% block body %}
<div class="movie">
    <h1>{{ movie.title }}</h1>
    <div class="movie__info">
        <img src="{{ movie.poster_url }}" alt="{{ movie.title }}">
        <span>관객수 : {{ movie.audience }} / 장르 : {{ movie.genre }}</span>
        <p>{{ movie.description}}</p>
    </div>
    <form action="{% url 'movies:create_score' movie.id %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">댓글 작성</button>
    </form>
    <div class="scores">
        {% for score in movie.score_set.all %}
            <div class="score">
                <span>{{ score.user }}</span> / {{ score.value }}
                <p>{{ score.content }}</p>
                <form action="{% url 'movies:delete_score' movie.id score.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">삭제</button>
                </form>
            </div>
        {% empty %}
            <h3>댓글이 없습니다.</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}